#This gitignore forces git to exclude private data
#(such as passwords) and eclipse metadata

*.csv
.DS_Store
.git
.metadata
.recommenders
.directory
JayCorp/.classpath
JayCorp/.project
JayCorp/.settings
Server/.classpath
Server/.project
Server/.settings
user.xml
Server/user.xml

#exclude builds
Server/bin
JayCorp/bin
output/
output.zip
Server_lib/
Server.jar
build
